.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #121212;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
  margin-top: 20px;

  .styled-select {
    /* display: none; */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.5s ease-in-out;
    appearance: none;
  }
  .styled-select:hover {
    background: rgb(171, 32, 32);
    color: #f4f4f4;
  }
}
